.task_block_name {
    font-size: 25px;
    width: 90%;
    margin: 5px auto;
    padding-top: 10px;
}

.task_block {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: #EBECF0;
    height: 95%;
    width: 23%;
    min-width: 250px;
    border-radius: 18px;
    overflow-y: auto;
    margin: 5px;
}

.task_block_value {
    font-size: 20px;
    margin: 5px auto;
    min-height: fit-content;
    width: 90%;
    background: #FFFFFF;
    border-radius: 10px;
}

.task_enter, .task_block_select {
    font-size: 20px;
    margin: 5px auto;
    padding: 0 0 0 0;
    min-height: max-content;
    width: 90%;
    border-radius: 10px;
    border: none;
    outline: none;
    resize: none;
}

.task_enter, .task_block_select, .task_block_value {
    padding: 11px;
    box-sizing: border-box;
}

.task_enter, .task_block_select, .task_block_value {
    padding: 11px;
    box-sizing: border-box;
}

.task_block_select > * {
    cursor: pointer;
    order: 1;
}

.task_block_select:disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: black;
}

.task_add {
    font-size: 20px;
    height: 47px;
    width: 90%;
    text-align: left;
    border-radius: 10px;
    outline: none;
    margin: 5px auto;
    background: none;
    border: none;
    color: #5E6C84;
    order: 2;
}

.task_add:active {
    background: white;
}

.task_add:hover {
    cursor: pointer;
}

.task_add:disabled {
    opacity: 20%;
    cursor: default;
}

.task_add:disabled:hover {
    cursor: default;
}

.task_block_select_option:hover {
    cursor: pointer;
    color: #0079bf;
}