.body {
    margin: 0 0 0 0;
    background-color: #0079bf;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    height: 55px;
    top: 0px;
    background: #0067A3;
}

.header_menu {
    margin: 0 10px;
    background-color: transparent;
    border: none;
    outline: none;
}

.header_logo {
    margin-right: auto;
    font-family: Roboto;
    font-size: 28px;
    color: #FFFFFF;
}

.header_create {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 25px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 181px;
    height: 33px;
    border: none;
    outline: none;
}

.header_create_text {
    font-family: Roboto;
    font-size: 18px;
    margin: auto auto;
}

.header_account {
    margin: 0 15px;
    display: flex;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    outline: none;
}

.footer {
    position: absolute;
    width: 100vw;
    height: 55px;
    bottom: 0px;
    background: #0067A3;

}

.footer_text {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
}

.footer_text_active {
    flex: 1 1 175px;
}

.footer_text_finished {
    flex: 1 1 175px;
}

.footer_text_initial {
    text-align: right;
    flex: 15 0 200px;
}